<ion-header translucent>
  <ion-toolbar>
    <ion-title>
      Agendar Cita
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissMOdal()">Close</ion-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>


<ion-content>
  <form [formGroup]="myForm" >
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">          
          <div padding>
            <ion-list>                 
                <ion-item> 
                    <ion-icon name="calendar" item-start></ion-icon>
                    <ion-label stacked> Fecha: <ion-text color="danger">*</ion-text></ion-label>
                      <ion-datetime 
                        formControlName="fecha"  
                        displayFormat="YYYY-MM-DD" min="2005" max="2030" 
                        value="2008-09-02">
                    </ion-datetime>
                  </ion-item>
                
                  <ion-item>
                    <ion-icon name="clock" item-start></ion-icon>
                    <ion-label stacked> Hora: <ion-text color="danger">*</ion-text></ion-label>
                    <ion-datetime  formControlName="hora" displayFormat="HH:mm:ss"></ion-datetime>                    
                  </ion-item>   
                  
                  <ion-item>
                    <ion-icon name="paper" item-start></ion-icon>   
                    <ion-label stacked> Especialidad: <ion-text color="danger">*</ion-text></ion-label>
                    <ion-select   formControlName="especialidad" value="2" okText="Okay" cancelText="Dismiss">
                      <ion-select-option  value="2">2</ion-select-option>                     
                    </ion-select>
                  </ion-item>
                  <ion-item>
                      <ion-icon name="paw" item-start></ion-icon>   
                      <ion-label stacked> Mascota: <ion-text color="danger">*</ion-text></ion-label>
                      <ion-select  formControlName="mascota" value="1" okText="Okay" cancelText="Dismiss">
                        <ion-select-option  value="1">1</ion-select-option>                       
                      </ion-select>
                    </ion-item>                  

            </ion-list>
          </div>
          <div padding>
            <ion-button  color="primary" (click)="save()" size="large" type="submit" [disabled]="myForm.invalid" expand="block">Agregar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>


<!--ion-content>
  <form [formGroup]="myForm" >
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">          
          <div padding>
            <ion-list>                 
                <ion-item>                     
                    <ion-label stacked> id: <ion-text color="danger">*</ion-text></ion-label>
                    <ion-input formControlName="id"  placeholder ="id"> </ion-input>
                  </ion-item>
                  <ion-item>                 
                    <ion-label stacked> title: <ion-text color="danger">*</ion-text></ion-label>
                      <ion-input formControlName="title" placeholder ="title"> </ion-input>
                  </ion-item>
                  <ion-item> 
                    <ion-label stacked> description: <ion-text color="danger">*</ion-text></ion-label>
                      <ion-input formControlName="description"   placeholder ="description"> </ion-input>
                  </ion-item>
                  <ion-item>                   
                    <ion-label stacked> image: <ion-text color="danger">*</ion-text></ion-label>
                      <ion-input formControlName="image"  placeholder ="image"> </ion-input>
                  </ion-item>
                  <ion-item>                   
                    <ion-label stacked> user_id: <ion-text color="danger">*</ion-text></ion-label>
                      <ion-input formControlName="user_id"  placeholder ="user_id"> </ion-input>
                  </ion-item>                                 

            </ion-list>
          </div>
          <div padding>
            <ion-button  color="primary" (click)="save()" size="large" type="submit" [disabled]="myForm.invalid" expand="block">Agregar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content-->
<!--ion-content>
  <form [formGroup]="myForm" >
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">          
          <div padding>
            <ion-list>                 
                <ion-item> 
                    <ion-icon name="calendar" item-start></ion-icon>
                    <ion-label stacked> Fecha: <ion-text color="danger">*</ion-text></ion-label>
                      <ion-datetime 
                        formControlName="fecha"  
                        displayFormat="YYYY-MM-DD" min="2005" max="2016" 
                        value="2008-09-02">
                    </ion-datetime>
                  </ion-item>
                
                  <ion-item>
                    <ion-icon name="clock" item-start></ion-icon>
                    <ion-label stacked> Hora: <ion-text color="danger">*</ion-text></ion-label>
                    <ion-datetime  formControlName="nombre" displayFormat="HH:mm:ss"></ion-datetime>                    
                  </ion-item>   
                  
                  <ion-item>
                    <ion-icon name="paper" item-start></ion-icon>   
                    <ion-label stacked> Especialidad: <ion-text color="danger">*</ion-text></ion-label>
                    <ion-select   formControlName="especialidad" value="2" okText="Okay" cancelText="Dismiss">
                      <ion-select-option  value="2">2</ion-select-option>                     
                    </ion-select>
                  </ion-item>
                  <ion-item>
                      <ion-icon name="paw" item-start></ion-icon>   
                      <ion-label stacked> Mascota: <ion-text color="danger">*</ion-text></ion-label>
                      <ion-select  formControlName="mascota" value="1" okText="Okay" cancelText="Dismiss">
                        <ion-select-option  value="1">1</ion-select-option>                       
                      </ion-select>
                    </ion-item>                  

            </ion-list>
          </div>
          <div padding>
            <ion-button  color="primary" (click)="save()" size="large" type="submit" [disabled]="myForm.invalid" expand="block">Agregar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content-->
